agents/01_ingest_products.json
{
    "name": "RAG — Ingest Products to Supabase (optimized, batched)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        60
                    ]
                }
            },
            "id": "trigger-cron",
            "name": "Cron (hourly)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://YOUR-PROJECT.supabase.co/rest/v1/rpc/count_products_needing_embedding",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={}"
            },
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 2000,
            "id": "check-count",
            "name": "Check Pending Count",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                480,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json[0].total }}",
                            "operation": "largerEqual",
                            "value2": 1
                        }
                    ]
                }
            },
            "id": "if-has-pending",
            "name": "Has Pending?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                720,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://YOUR-PROJECT.supabase.co/rest/v1/rpc/get_products_needing_embedding",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"batch_size\": 50}"
            },
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 2000,
            "id": "fetch-pending",
            "name": "Fetch Products (RPC, up to 50)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                960,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "response",
                "options": {}
            },
            "id": "split-out",
            "name": "Split Out Products",
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                1200,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 50,
                "options": {}
            },
            "id": "batch-50",
            "name": "Batch by 50",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                1440,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Receives a batch of products, builds an array of chunk texts,\n// then issues ONE OpenAI call with all of them as input.\n// OpenAI's embedding endpoint accepts up to 2048 inputs per call.\nconst batch = $input.all();\n\nconst inputs = batch.map(item => {\n  const p = item.json;\n  return [\n    `Name: ${p.name}`,\n    `Brand: ${p.brand || 'n/a'}`,\n    `Category: ${p.category || 'n/a'}`,\n    `Tags: ${(p.tags || []).join(', ') || 'n/a'}`,\n    p.price ? `Price: ${p.currency || 'USD'} ${p.price}` : null,\n    p.in_stock === false ? 'Status: out of stock' : null,\n    '',\n    p.description || ''\n  ].filter(Boolean).join('\\n');\n});\n\nreturn [{\n  json: {\n    inputs,\n    meta: batch.map((item, i) => ({\n      product_id: item.json.id,\n      sku:        item.json.sku,\n      chunk_text: inputs[i]\n    }))\n  }\n}];"
            },
            "id": "build-chunks",
            "name": "Build Chunk Texts (batched)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1680,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/embeddings",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.OPENAI_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"input\": {{ JSON.stringify($json.inputs) }},\n  \"model\": \"text-embedding-3-small\",\n  \"encoding_format\": \"float\"\n}",
                "options": {
                    "timeout": 60000
                }
            },
            "retryOnFail": true,
            "maxTries": 4,
            "waitBetweenTries": 3000,
            "id": "embed-openai",
            "name": "OpenAI Embeddings (batch)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1920,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Map each returned embedding back to its product_id.\n// Output is a single JSON with a 'rows' array ready for one bulk upsert.\nconst r  = $input.first().json;\nconst meta = $('Build Chunk Texts (batched)').first().json.meta;\n\nconst rows = r.data.map((d, i) => ({\n  product_id:  meta[i].product_id,\n  chunk_index: 0,\n  chunk_text:  meta[i].chunk_text,\n  embedding:   d.embedding\n}));\n\nreturn [{ json: { rows } }];"
            },
            "id": "reshape",
            "name": "Reshape for Bulk Upsert",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2160,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://YOUR-PROJECT.supabase.co/rest/v1/product_embeddings?on_conflict=product_id,chunk_index",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates,return=minimal"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.rows) }}"
            },
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 2000,
            "id": "upsert-embeddings",
            "name": "Bulk Upsert to Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2400,
                300
            ]
        },
        {
            "parameters": {},
            "id": "loop-back",
            "name": "Loop to next batch",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                2640,
                300
            ]
        }
    ],
    "connections": {
        "Cron (hourly)": {
            "main": [
                [
                    {
                        "node": "Check Pending Count",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Pending Count": {
            "main": [
                [
                    {
                        "node": "Has Pending?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Pending?": {
            "main": [
                [
                    {
                        "node": "Fetch Products (RPC, up to 50)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Products (RPC, up to 50)": {
            "main": [
                [
                    {
                        "node": "Split Out Products",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out Products": {
            "main": [
                [
                    {
                        "node": "Batch by 50",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch by 50": {
            "main": [
                [
                    {
                        "node": "Build Chunk Texts (batched)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Chunk Texts (batched)": {
            "main": [
                [
                    {
                        "node": "OpenAI Embeddings (batch)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Embeddings (batch)": {
            "main": [
                [
                    {
                        "node": "Reshape for Bulk Upsert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Reshape for Bulk Upsert": {
            "main": [
                [
                    {
                        "node": "Bulk Upsert to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Bulk Upsert to Supabase": {
            "main": [
                [
                    {
                        "node": "Loop to next batch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop to next batch": {
            "main": [
                [
                    {
                        "node": "Batch by 50",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveExecutionProgress": true,
        "timezone": "UTC",
        "errorWorkflow": "RAG_ERROR_HANDLER"
    },
    "staticData": null,
    "tags": [
        {
            "name": "rag"
        },
        {
            "name": "ingestion"
        },
        {
            "name": "optimized"
        }
    ],
    "active": false
}